<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>문제 풀기!!</title>
<style>
	table {
	width: 800px;
	height: 800px;
	border: 1px solid #000;
}
</style>
</head>
<body>
	<form>
		<table>
			<th>
				<p>문제풀기</p>
			</th>
			<th>
				<td>
					<p id="tala1" th:utext="|${naio1}|" ></p>
				</td>
			</th>
		</table>
		<table>
			<th>
				<td>
					<p id="tala2" th:utext="${naio2}"></p>
				</td>
			</th>
			<br>
		</table>
		<table>
			<th>
				<p>정답은 : <label id="result"></label></p>
				<input id="mon" type="button" value="문제받기">
			</th>
		</table>
	</form>
</body>
</html>