<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="net.softsociety.spring7.dao.MemberDAO">


<insert id="insert" parameterType="Member">
	insert into
		spring7_member
	(
		memberid
		,memberpw
		,membername
		,email
		,phone
		,address
	)
	values
	(
		#{memberid}
		,#{memberpw}
		,#{membername}
		,#{email}
		,#{phone}
		,#{address}
	)
</insert>
<!-- 회원정보 조회 -->
<select id="selectOne" parameterType="String" resultType="Member">
	select * from spring7_member where memberid = #{memberid}
</select>

<!-- 회원정보수정 -->
<update id="update" parameterType="Member">
<!-- 회원아이디를 조건으로 이름/이메일/전화/주소를 수정 -->
	update spring7_member set 
	membername=#{membername}
	,email=#{email}
	,phone=#{phone}
	,address=#{address} 
	<if test="memberpw != null and memberpw != ''">
	, memberpw = #{memberpw}
	</if>
	where 
	memberid = #{memberid}
</update>

</mapper>
