<!-- 메인화면 뷰 -->
<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>spring2</title>
</head>
<body>
	<h1>[ spring2 ]</h1>
	<ol>
		<li>서버와 값 주고받기
		<ul>
			<li><a href="param/param1">GET method로 parameter 전달</a></li>
			<li><a href="param/param2">POST method로 parameter 전달</a></li>
			<li><a href="param/param3">GET method로 parameter 전달 - 객체로 전달</a></li>
			<li><a href="param/param4?name=aaa">GET method로 parameter 전달</a></li>
			<li><a href="model/model1">Model 사용하기</a></li>
		</ul>
		</li>
		<li>세션 사용
		<ul>
			<li><a href="ss/session1">Session에 저장</a></li>
			<li><a href="ss/session2">Session에서 읽기</a></li>
			<li><a href="ss/session3">Session에서 삭제</a></li>
			<li><a href="ss/session4">Session에 "id"값이 있는 경우만 접속 가능</a></li>
		</ul>
		</li>
		<li>쿠키 사용
		<ul>
			<li><a href="ck/cookie1">쿠키 저장</a></li>
			<li><a href="ck/cookie2">쿠키 삭제</a></li>
			<li><a href="ck/cookie3">쿠키 읽기</a></li>
		</ul>
		</li>
		<li>예제
		<ul>
			<li><a href="ex/calc">계산</a></li>
			<li><a href="ex/info">개인정보입력</a></li>
			<li><a href="ck/cookie">방문횟수 확인</a></li>
		</ul>
		</li>
	</ol>
	
</body>






</html>