<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>spring2</title>
</head>
<body>
	<h2>[POST method로 parameter 전달]</h2>

	<form action="input2" method="post">
	<p>이름 <input type="text" name="name"></p>
	<p>전화
		<input type="radio" name="phone" value="kt">KT
		<input type="radio" name="phone" value="sk">SKT
		<input type="radio" name="phone" value="lg">LGT
		<input type="text" name="phonenum">
	</p>
	<p>
		<input type="submit" value="전송">
		<input type="reset" value="초기화">
	</p>
	</form>
</body>
</html>