<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>jQuery</title>
<style>
</style>
<script th:src="@{/js/jquery-3.6.0.js}"></script>

<script>
$(document).ready(function() {
	//전체 선택자
	$('*').css('color', 'blue');
	//태그 선택자
	$('p').css('color', 'green');
	//ID 선택자
	$('#text1').css('color', 'pink');
	//클래스 선택자
	$('.text2').css('color', 'red');
	//그룹 선택자
	$('th, td').css('color', 'yellow');
	//종속 선택자
	$('p.text2').css('color', 'DarkMagenta');
	//하위 요소
	$('div p.text3').css('color', 'Coral');
	//자식 요소
	$('div > p.text3').css('color', 'Coral');
	$('div > p.text3').css('border', '1px solid black');

	//속성 선택자
	$('input[type=password]').css('background-color', 'yellow');
	$('input[checked]').css('background-color', 'yellow');
	
});

</script>
</head>
<body>
<h2>[ jQuery 기본 문법, 선택자 ]</h2>
<h3 class="text2">https://jquery.com/ </h3>

<p>p태그를 이용한 텍스트</p>
<p>p태그를 이용한 텍스트</p>
<p id="text1">p태그를 이용한 텍스트</p>
<p class="text2">p태그를 이용한 텍스트</p>
<p class="text2 text3">p태그를 이용한 텍스트</p>

<div>
	<p>div내의 p태그</p>
	<p class="text3">div내의 p태그</p>
</div>

<form>
	<input type="text">
	<input type="password">
	<input type="submit" value="확인">
</form>

</body>
</html>


