<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<!-- 사용할때마다 불러와줘야한다. -->
<script th:src="@{/js/jquery-3.6.0.js}"></script>

<script>
$(document).ready(function (){
	$('#bt1').on('click', button1Click);
	$('#bt2').on('click', button1Off);
	$('#bt3').on('click', button1Trigger);
	$('#im').mouseover(function(){
		$('#im').css('background-color', 'BlueViolet');
	});
	$('#im').mouseout(function(){
		$('#im').css('background-color', 'blue');
	});
	
	$('#text1').on('keyup', function(){
		alert('keyup 이벤트');
	});
});

function button1Click(){
	alert('버튼 1 클릭함');
}
function button1Off(){
	$('#bt1').off();
//	$('#bt1').off('click'); 클릭했을때 실행되었던 이벤트를 다 지운다.
//	$('#bt1').off('click',button1Click); 
//  클릭했을때 실행되었던 button1Click에 해당한 메소드 내에서만 모두지운다.
}


function button1Trigger(){
	//트리거 하고 클릭을 걸어주면 아무도 클릭을하지 않아도 click효과가 나온다.
	$('#bt1').trigger('click');
}
</script>
</head>
<body>
<h2>이벤트</h2>
<pre>
	on(),off(),trigger()
</pre>
<p><input type="button" id="bt1" value="버튼1"></p>
<p><input type="button" id="bt2" value="버튼1의 이벤트 취소"></p>
<p><input type="button" id="bt3" value="버튼1의 이벤트 강제 발생"></p>
	
<p><input type="text" id="text1"></p>

<!-- 이미지 위에 마우스 포인터가 올라가면 대화상자 열기 -->

<p><img src="../img/button2.png" id="im"></p>
	
</body>
</html>