<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>jQuery</title>
<style>
</style>
<script th:src="@{/js/jquery-3.6.0.js}"></script>

<script>
$(document).ready(function() {
	$('#bt1').on('click', function () {
//		let s = $('h2').html();
//		alert(s);

		$('h2').each(function(i, ob) {
			alert(i + ', ' + $(ob).html());
		});
	});
	
	$('#bt2').on('click', function () {
		let s = $('h2').text();
		alert(s);
	});
	
	$('#bt3').on('click', function () {
		let s = $('#text1').val();
		alert(s);
	});
	
	$('#bt4').on('click', function () {
		$('#div1').html('<p style="color:red;">html함수로 변경한 내용</p>');
		$('#div2').text('<p style="color:red;">text함수로 변경한 내용</p>');
		$('#text2').val('val함수로 변경한 내용');
	});
	
	$('#bt5').on('click', function () {
		let s = $('#img1').attr('src');
		alert(s);
		$('#img1').attr('src', '[[@{/image/dog.jpg}]]');
	});
	
	$('#bt6').on('click', function () {
		let w = $('#img1').css('width');		// '100px'
		let h = $('#img1').css('height');
		alert(w + ', ' + h);
		
		$('#img1').css('width', '100px');
		$('#img1').css('height', '100px');
	});

	$('#img1').on('mouseenter', function() {
		$('#img1').css('width', '300px');
		$('#img1').css('height', '300px');
	});
	$('#img1').on('mouseleave', function() {
		$('#img1').css('width', '100px');
		$('#img1').css('height', '100px');
	});
	
	$('#bt7').on('click', function () {
		$('#img1').removeClass('classA');
		$('#img1').addClass('classB');
	});
	$('#bt8').on('click', function () {
		$('#img1').removeClass('classB');
		$('#img1').addClass('classA');
	});
	
});

</script>

<style>
.classA {
	width: 100px;
	height: 100px;
	border : 3px solid blue;
}
.classB {
	width: 300px;
	height: 300px;
	border : 5px dotted red;
}
</style>

</head>
<body>
<h2>[ 문서 객체 조작 메소드 ]</h2>
<pre>
	html(), text(), val(), attr(), css(), addClass(), removeClass()
</pre>

<p><input type="button" id="bt1" value="html() 함수"></p>
<p><input type="button" id="bt2" value="text() 함수"></p>
<p><input type="button" id="bt3" value="val() 함수"></p>

	<h2><b>h2</b>태그를 사용한 문자열 1</h2>
	<h2><i>h2</i>태그를 사용한 문자열 2</h2>
	<p><input type="text" id="text1"><p>
	
<p>문서의 값 변경</p>
<p><input type="button" id="bt4" value="값 변경"></p>

<div id="div1">원래 내용</div>
<div id="div2">원래 내용</div>
<p><input type="text" id="text2" value="원래 내용"></p>

<p><input type="button" id="bt5" value="attr() 함수"></p>
<p><input type="button" id="bt6" value="css() 함수"></p>

<p><input type="button" id="bt7" value="addClass() 함수"></p>
<p><input type="button" id="bt8" value="removeClass() 함수"></p>

<p><img th:src="@{/image/img1.png}" id="img1" class="classA"></p>


</body>
</html>


