<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
	<h1>[ GET method로 parameter 전달 ]</h1>
	<form action="input1" method="get">
		<div>
			<table>
				<ol>
					<li>이름 :
						<ui>
							<input id="name" name="name" type="text">
						</ui>
					</li>
					<li>전화 : 
						<ui>
							<input name="phone" type="radio" value="KT" checked="checked">
							<label for ="kt">KT</label>
							<input name="phone" type="radio" value="SK">
							<label for ="sk">SK</label>
							<input name="phone" type="radio" value="LG">
							<label for ="lg">LG</label>
							<input name="phonenum" type="text">
						</ui>
					</li>
					<input type="submit" value="전송">
					<input type="reset" value="초기화">
				</ol>	
			</table>
		</div>
	</form>
</body>
</html>