<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
	<h2>[ string2 ]</h2>
	<ol>
		<li>서버와 값 주고받기</li>
		<ul>
			<li><a href="param/param1">get method로 parameter 전달</a></li>
			<li><a href="param/param2">post method로 parameter 전달</a></li>
			<li><a href="param/param3">get method로 parameter 전달 - 객체로 전달</a></li>
			<li><a href="param/param4?name=abc&age=10">get method로 parameter 전달2</a></li>

			<li><a href="model/model1">Model 사용하기</a></li>
			<li><a href="ss/session1">Session 사용하기 - 저장</a></li>
			<li><a href="ss/session2">Session 사용하기 - 삭제</a></li>
			<li><a href="ss/session3">Session 사용하기 - 읽기</a></li>
			<li><a href="ss/session4">Session 확인하여 분기</a></li>
		</ul>
	</ol>
</body>
</html>