<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<style>
	img{
	width: 100px;
	height: 100px;
	}
	#div {
		width: 350px;
		height: 330px;
		background-color: gray;
		border: 2px solid black;
	}
	#div1 {
		width: 350px;
		height: 50px;
	}
	#text{
		width: 300px;
		margin-left: 20px;
	}
	input{
		width: 80px;
		height: 50px;
		margin-top: 10px;
		margin-left: 2px;
	}

</style>
<!-- 사용할때마다 불러와줘야한다. -->
<script th:src="@{/js/jquery-3.6.0.js}"></script>

<script>
$(document).ready(function (){
	$('#img1').click(test1);
	$('#img2').click(test2);
	$('#1').click(click1);
	$('#2').click(click1);
	$('#3').click(click1);
	$('#4').click(click1);
	$('#5').click(click1);
	$('#6').click(click1);
	$('#7').click(click1);
	$('#8').click(click1);
	$('#9').click(click1);
	$('#0').click(click1);
	$('#+').click(pu);
	$('#-').click(ma);
	$('#*').click(go);
	$('#/').click(na);
	$('#=').click(nun);
});

function click1(){
	let one = document.getElementById('#1');
	let tw = document.getElementById('#2');
	let tr = document.getElementById('#3');
	let fo = document.getElementById('#4');
	let fa = document.getElementById('#5');
	let si = document.getElementById('#6');
	let se = document.getElementById('#7');
	let ei = document.getElementById('#8');
	let nai = document.getElementById('#9');
	let pu = document.getElementById('#+');
	let ma = document.getElementById('#-');
	let go = document.getElementById('#*');
	let na = document.getElementById('#/');
	let num = document.getElementById('#=');
	let text = document.getElementById('#text');
	
	
	one.click(function (){
		text.innerHTML += 1;
	});
	tw.click(function (){
		text.innerHTML = '2';
	});
	
	
}


/* function ge(){
	let win = window.open('', 'w', 'width=300,height=300,left=600,top=300');
} */

function test1(){
	/* let w = $('#img1').css('width');
	let h = $('#img1').css('height'); */
	let w = $(this).width();
	let h = $(this).height();
	
	$('#img1').css('width', w + 10);
	$('#img1').css('height', h + 10);
	
}

let path = '[[@{/img/}]]';
let ju = ['button1.png','button2.png','button3.png','button4.png','dog9.jpeg'];

let index = 0;
function test2(){
	index++;
	if(index == ju.length){
		index =0;
	}
	$(this).attr('src', path+ju[index]);
	
	
	/* let ju = ['[[@{/img/button1.png}]]','[[@{/img/button2.png}]]','[[@{/img/button3.png}]]','[[@{/img/button4.png}]]','[[@{/img/dog9.jpeg}]]']
		let s = $('#img2').attr('src');

	if(s == ju[0]){
		$('#img2').attr('src',ju[1]);
	} else if(s == ju[1]){
		$('#img2').attr('src',ju[2]);
	}else if(s == ju[2]){
		$('#img2').attr('src',ju[3]);
	}else if(s == ju[3]){
	 	$('#img2').attr('src',ju[4]);
	}else if(s == ju[4]){
		$('#img2').attr('src',ju[0]);
	} */
	
}



</script>
</head>
<body>
<h2>[ 예제 ]</h2>
<p>이미지의 크기 변경 (현재보다 10씩 값 증가)</p>
<p><img th:src="@{/img/button3.png}" id="img1"></p>
<p>이미지 바꾸기 (준비한 이미지를 교대로 보여준다)</p>
<p><img th:src="@{/img/button1.png}" id="img2"></p>
<p>계산기</p>
<!-- <p><a th:href="javascript:ge()" id="ge">계산기</a></p> -->
<div id = "div">
	<div id = "div1">
		<input type="text" id="text">
	</div>
	<br>
	<input type="button" value="1" id="1" name="1">
	<input type="button" value="2" id="2" name="2">
	<input type="button" value="3" id="3" name="3">
	<input type="button" value="+" id="+" name="+">
	<br>
	<input type="button" value="4" id="4" name="4">
	<input type="button" value="5" id="5" name="5">
	<input type="button" value="6" id="6" name="6">
	<input type="button" value="-" id="-" name="-">
	<br>
	<input type="button" value="7" id="7" name="7">
	<input type="button" value="8" id="8" name="8">
	<input type="button" value="9" id="9" name="9">
	<input type="button" value="*" id="*" name="*">
	<br>
	<input type="button" value="." id="." name=".">
	<input type="button" value="0" id="0" name="0">
	<input type="button" value="=" id="=" name="=">
	<input type="button" value="/" id="/" name="/">
</div>


</body>
</html>