<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="net.softsociety.web.dao.CommentDAO">

<!-- 댓글 저장 -->
<insert id="insertComment" parameterType="Comment">
	insert into web_comment (num, name, text)
	values (web_comment_seq.nextval, #{name}, #{text})
</insert>

<!-- 댓글 목록 -->
<select id="selectComment" resultType="Comment">
    select * from web_comment order by num
</select>

<!-- 댓글 삭제 -->
<insert id="deleteComment" parameterType="int">
	delete from web_comment where num = #{num}
</insert>


</mapper>
