<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<!-- 사용할때마다 불러와줘야한다. -->
<script th:src="@{/js/jquery-3.6.0.js}"></script>

<script>
$(document).ready(function (){
	$('#bt').click(function(){
		$.ajax({
			url: 'vote',
			type:'get',
			data:{boardnum: $(this).attr('boardnum')},
			success:function(n){
				/* $('cnt').html(n); */
			},
			error : function(){
				alert('error');
			}
		})
	})
});


</script>
</head>
<body>
<h2>[ 추천 ]</h2>
<div>
	<input type="button" id="bt" boardunm="1" value="추천">
	<span id="cnt">0</span>
</div>


</body>
</html>