<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
	<h1>[ 게시판 ]</h1>
	
		<table>
			<tr>
				<td class="won">번호</td>
				<td class="won">제목</td>
				<td class="won">작성자</td>
				<td class="won">조회수</td>
				<td class="won">등록일</td>
			</tr>
				<tr th:each="item : ${list}">
						<td>
							<span th:text="${item.boardnum}" th:name="${item.boardnum}"></span>
						</td>
						<td>
							<span th:text="${item.title}"></span>
						</td>
							<td>
							<span th:text="${item.memberid}"></span>
						</td>
						<td>
							<span th:text="${item.hits}"></span>
						</td>
						<td>
							<span th:text="${item.intputdate}"></span>
						</td>
				</tr>
			</table>
	<p><a th:href="@{sugi}">글쓰기</a></p> <!-- 글쓰기 폼으로 이동. 로그인 해야지만 보임. -->
	<p><a th:href="@{/}"> Home</a></p><!-- 아무나 보임 -->
</body>
</html>