<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<style>
	table{
		border: 3px solid white;
		border-collapse: collapse;
		box-shadow: 3px 3px;
		
	}
	td,th{
		text-align:center;
		width:150px;
		border: 0.2px solid white;
		padding: 0px;
	}
	td.won {
		font-size : 20px;
		background-color:rgb(0, 255, 255);
	}
</style>
<script>
	function sele(p_num){
		location.href="deta?p_num=" + p_num;
	}
</script>
</head>
<body>
	<h1>쿠팡</h1>
	
			<table>
				<tr>
					<td class="won">제품번호</td>
					<td class="won">이름</td>
					<td class="won">남은 수량</td>
					<td class="won">가격</td>
					<td class="won">주문</td>
				</tr>
					<tr th:each="item : ${list}">
							<td>
								<span th:text="${item.p_num}" th:name="${item.p_num}"></span>
							</td>
							<td>
								<span th:text="${item.p_name}"></span>
							</td>
							<td>
								<span th:text="${item.amount}"></span>
							</td>
							<td>
								<span th:text="${item.price}"></span>
							</td>
							<td>
								<input type="button" value="상세보기" 
								th:num="${item.p_num}" th:onclick="sele(this.getAttribute('num'))">
							</td>
					</tr>
			</table>
</body>
</html>