<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>JavaScript</title>
<style>
input, select {
	width: 80px;
	font-size: 18px;
}

</style>
<script>
	window.onload = function() {
		let bt1 = document.getElementById('bt1');
		bt1.onclick = test1;
	}
	
	function test1() {
		alert('test1 실행');
	}
	
	function test2() {
		var a = 1;
		let b = 2;
		const c = 3;
		
/* 		var a = "abc";				//재선언 가능
		let b = "def";				//재선언 불가능
		const c = "ggg";			//재선언 불가능
 */		
 
 		a = "abc";					//재할당 가능
 		b = "abc";					//재할당 가능
// 		c = "abc";					//재할당 불가능
		console.log('a = ' + a);
		console.log('b = ' + b);
		console.log('c = ' + c);
		
		a = 1;
		b = "10"
		console.log(typeof(a));		//자료형 확인
		console.log(typeof(b));
		console.log(isNaN(a));		//숫자가 아닌가?
		console.log(isNaN(b));
		
		let d = prompt("숫자를 입력하세요.");	//입력한 내용을 string으로 리턴
		console.log(typeof(d) + ', ' + d);
		
		let e = confirm('질문 내용?');		//클릭한 버튼 값을 boolean으로 리턴
		console.log(typeof(e) + ', ' + e);
		
		console.log(d + 1);					//문자열 연결
		console.log(parseInt(d) + 1);		//숫자로 변환하여 연산
		console.log(Number(d) + 1);
	}
	
	function test3() {
		let t1 = document.getElementById('text1');
		let t2 = document.getElementById('text2');
		let t3 = document.getElementById('text3');
		let op = document.getElementById('op');
		
		//첫번째 입력란에 숫자를 입력했는지
		if (t1.value == '' || isNaN(t1.value)) {
			alert('정수를 입력하세요.');
			t1.focus();
			t1.select();
			return;
		}
		//두번째 입력란에 숫자를 입력했는지
		if (t2.value == '' || isNaN(t2.value)) {
			alert('정수를 입력하세요.');
			t2.focus();
			t2.select();
			return;
		}
		//입력한 문자열을 숫자로 변환
		let res = 0;
		let num1 = Number(t1.value);
		let num2 = Number(t2.value);
		
		switch (op.value) {
			case '+' : res = num1 + num2; break;
			case '-' : res = num1 - num2; break;
			case '*' : res = num1 * num2; break;
			case '/' : 
				if (num2 == 0) {
					alert('0으로 나눌 수 없습니다.');
					return;
				}
				res = num1 / num2;
		}
		
		t3.value = res;
	}

	function focusIn(ob) {
		ob.select();
	}
</script>
</head>
<body>
<h2>[ JavaScript 기본 문법 ]</h2>
<p><a href="javascript:test1()">a태그로 함수 호출</a></p>
<p><input type="button" value="onclick속성으로 함수호출" onclick="test1()"></p>
<p><input type="button" value="onload에서 이벤트 연결" id="bt1"></p>

<p><a href="javascript:test2()">변수와 자료형</a></p>

<p><a href="javascript:test3()">계산</a></p>
<p>
	<form>
		<input type="text" id="text1" value="0" onfocus="focusIn(this)">
		<select id="op" onchange="test3()">
			<option value="+">+</option>
			<option value="-">-</option>
			<option value="*">*</option>
			<option value="/">/</option>
		</select>
		<input type="text" id="text2" value="0" onfocus="focusIn(this)">
		=
		<input type="text" id="text3" value="0" readonly="readonly">
		<input type="button" value="계산" onclick="test3()">
		<input type="reset" value="초기화">
	</form>
</p>


</body>
</html>
