<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>JavaScript</title>
<style>
</style>
<script>
function outputDate() {
	let date = new Date();
	let time = date.getFullYear() + '년 ' + date.getMonth() + '월 ' + date.getDate() + '일 '
		+ date.getHours() + '시 ' + date.getMinutes() + '분 ' + date.getSeconds() + '초';
	document.getElementById('output').innerHTML = time;
}
function timeout() {
	setTimeout(outputDate, 3000);
}

let inter = null;

function start() {
	inter = setInterval(outputDate, 1000);
}
function stop() {
	clearInterval(inter);
}

let win = null;
let winInter = null;

function winStart() {
	//창이 없으면 열고 일정시간 간격으로 움직임
	winInter = setInterval(winOpen, 1000);
}
function winStop() {
	//일정시간 간격으로 실행하던 작업 취소하고 창 닫음
	clearInterval(winInter);
	win.close();
}
function winOpen() {
	if (win == null || win.closed) {
		win = window.open('', 'win', 'width=200,height=200,left=200,top=200');
	}
	win.moveBy(10, 0);
	win.focus();
}
</script>
</head>
<body>
<h2>[ JavaScript 기타 함수 ]</h2>

<p><a href="javascript:outputDate()">날짜 객체</a></p>
<p><span id="output"></span></p>

<p><a href="javascript:timeout()">setTimeout() 실행</a></p>
<p><a href="javascript:start()">setInterval() 실행</a></p>
<p><a href="javascript:stop()">setInterval() 중지</a></p>

<p><a href="javascript:winStart()">창 이동 시작</a></p>
<p><a href="javascript:winStop()">창 이동 중지</a></p>


</body>
</html>
