<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>[ JavaScript 기타 함수 ]</title>
<style>

</style>
<script>
function outputData(){
	let date = new Date();
	
	let yea = date.getFullYear() + '년' + (date.getMonth()+1) +'월' + date.getDate()+'일' 
	+ date.getHours()+'시'+date.getMinutes()+'분'+date.getSeconds() + '초';
	
	document.getElementById('output').innerHTML = yea;
}

function outputtest(){
	let date = new Date();
	
	let yea = date.getFullYear() + '년' + (date.getMonth()+1) +'월' + date.getDate()+'일' 
	+ date.getHours()+'시'+date.getMinutes()+'분'+date.getSeconds() + '초';
	
	document.getElementById('sta').innerHTML = yea;
}

function timeout(){
	let time = setTimeout(outputData,3000);
}
let inter = null;
function start(){
	document.getElementById('output').innerHTML = "";
	inter = setInterval(function (){outputtest()},100);
}

function stop(){
	clearInterval(inter);
}

let win = null;
let winInter = null;

function winStart() {
	winInter = setInterval(function (){
		if(win == null || win.closed) {
			win =window.open('', '', 'width=200,height=200,left=100,top=200');
		}
 			win.resizeBy(2,2);
			win.moveBy(5,5);
			win.focus();
	},1000);
}
function winstop(){
	clearInterval(winInter);
	win.close();
}


</script>
</head>
<body>
	<h2>[ JavaScript 기타 함수 ]</h2>
	
	<p><a href="javascript:outputData()">날짜 객체 사용</a></p>
	<p><span id="output"></span></p>
	
	<p><a href="javascript:timeout()">setTimeout 실행</a></p>
	<p><span id="time"></span></p>
	
	<p><a href="javascript:start()">setInterval 실행</a></p>
	<p><a href="javascript:stop()">clearInterval 실행</a></p>
	<p><span id="sta"></span></p>
	
	<p><a href="javascript:winStart()">윈도우 이동</a></p>
	<p><a href="javascript:winstop()">윈도우 이동 중지</a></p>
	
	
</body>
</html>