<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>회원가입</title>
<style>
	table {
	background-color: gray;
	}
	th {
	text-align: center;
	}
</style>
<script>

function idFormOpen(){
	window.open('idcheck','win','left=600,top=500,width=600,height=500,menubar=no');
	
}
</script>
</head>
<body>
	<h2>[ 회원 가입 ]</h2>
	<form th:action="@{member/insert}" method="post">
	<table >
		<tr>
			<th>id</th>
			<td><input type="text" name="memberid" id="memberid" maxlength="10" placeholder="ID중복확인 이용" readonly="readonly"></td>
			<td><input type="button" value="ID중복확인" onclick="idFormOpen()"></td>
		</tr>
		<tr>
			<th>password</th>
			<td><input type="password" name="memberpw" id="memberpw" placeholder="비밀번호 입력"><br>
			<input type="password" id="memberpw1" placeholder="비밀번호 다시 입력"></td>
		</tr>
		<tr>
			<th>name</th>
			<td><input type="text" name="membername" placeholder="이름을 입력"></td>
		</tr>
		<tr>
			<th>email</th>
			<td><input type="text" name="email" placeholder="이메일을 입력"></td>
		</tr>
		<tr>
			<th>phone</th>
			<td><input type="text" name="phone" placeholder="전화번호 입력"></td>
		</tr>
		<tr>
			<th>address</th>
			<td><input type="text" name="address" placeholder="주소 입력"></td>
		</tr>
	</table>
		<input type="submit" value="확인">
		<input type="reset" value="취소">
	</form>
</body>
</html>