<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="net.softsociety.spring4.dao.GuestbookDAO">
<!-- id의 값을 만들어주고 그 아이디는 interface의 메소드 명과 동일하게 만든다. -->
<!-- 전달 받은 객체를 받는의미 #{} -->
<!-- map key 값의 name이 들어가기도한다. -->
<!-- 저장기능을 생성하는 단계 -->
<insert id="insertGuestbook" parameterType="Guestbook">
	insert into Guestbook (num,name,password,message) values(guestbook_seq.nextval,#{name},#{password},#{message})
</insert>
<select id="selectGuestbook" resultType="Guestbook">
select * from Guestbook
</select>

<!-- <select id="passGuestbook" parameterType="String" resultType="int">
select num from Guestbook where password = #{password}
</select> -->

<delete id="deleteGuestbook" parameterType="Guestbook">
	delete Guestbook where num = #{num} and password=#{password}
</delete>

</mapper>
