<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>jQuery</title>
<style>
</style>
<script th:src="@{/js/jquery-3.6.0.js}"></script>

<script>
function test1() {
	console.log('test1() 실행');
	$.ajax({
		url:'test1',
		type: 'get',
		success: function() { 
			alert('실행성공'); 
		},
		error: function(e) {
			alert('실행실패'); 
			alert(JSON.stringify(e));
			alert(e.status);
		}
	});
}

function test2() {
	$.ajax({
		url: 'test2',
		type: 'post',
		data: {str:'클라이언트에서 보냄'},
		success: function() { alert('성공'); },
		error: function(e) { alert(JSON.stringify(e));}
	});
}

function test3() {
	$.ajax({
		url: 'test3',
		type: 'get',
		dataType: 'text', 		//'json'
		success: function(res) {
			alert(res);
			$('#output').html(res);
		},
		error: function () {
			alert(JSON.stringify(e));
		}
	});
}

function test4() {
	$.ajax({
		url: 'test4',
		type: 'post',
		data: {str: $('#word1').html() },
		dataType: 'text',
		success: function(res) { 
			$('#word2').html(res);
		},
		error: function(e) { alert(JSON.stringify(e));}
	});
}


</script>
</head>
<body>
<h2>[ Ajax 요청과 응답 ]</h2>

<p><a href="javascript:test1()">서버로 Ajax 요청 보내기</a></p>
<p><a href="javascript:test2()">서버로 문자열 전송</a></p>
<p><a href="javascript:test3()">서버에서 문자열 받기</a></p>
<div id="output"></div>

<p><a href="javascript:test4()">예제</a></p>
<div>
	<span id="word1">aaaa</span>
	<span id="word2"></span>
</div>
</body>
</html>


