<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>JavaScript/jQuery/Ajax</title>
<style>
#msg {
	color: red;
	width: 200px;
	display: inline-block;
}
label {
	width: 50px;
	display: inline-block;
}
</style>
<script th:src="@{/js/jquery-3.6.0.js}"></script>
<script>
$(document).ready(function() {
	$('#memberid').focusout(function() {
		let id = $(this).val();
		
		if (id.length <=3 || id.length > 10) {
			$('#msg').html('ID는 3~10자로 입력하세요.');
			$('#submitButton').attr('disabled', true);
			return;
		}
		
		$.ajax({
			url: 'idcheck',
			method: 'post',
			data: { memberid: id },
			success: function(n) {
				if (n == 0) {
					$('#msg').html('');
					$('#submitButton').attr('disabled', false);
				}
				else {
					$('#msg').html('이미 사용중인 ID입니다.');
					$('#submitButton').attr('disabled', true);
				}
			},
			error: function(e) {
				
				alert(JSON.stringify(e));
			}
		});
	});
	$('#submitButton').click(function() {
		let memberid = $('#memberid').val();
		let name = $('#name').val();
		alert(memberid + ', ' + name)
		$.ajax({
			url: 'join',
			method: 'post',
			data: {memberid ,name},
			success: function(n) {
				if (n == 0) {
					alert('가입이 되었습니다.');
				}
				else {
					alert('가입이 실패하였습니다.');
				}
			},
			error: function(e) {
				alert(JSON.stringify(e));
			}
		});
	});
});
</script>
</head>
<body>
<h2>[ ID중복확인 ]</h2>

	<p>ID 	<input type="text" id="memberid"><span id="msg"></span></p>
	<p>이름 	<input type="text" id="name" required="required"></p>
	<p><input type="submit" value="가입" id="submitButton" disabled="disabled"></p>
	<p><input type="button" value="버튼" disabled="disabled"></p>

</body>
</html>
