<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<style>
	table {
		width: 1000px;
		height: 500px;
		border: 1px solid #000;
	}
	label {
	font-size: 50px;
}
a{
font-size: 50px;
}
p{
font-size: 60px;
}
</style>
<script defer src="home.js"></script>

</head>
<body>
	<table>
		<th>
			<p>정답은 : </p>
			<label>[[${num1}]] [[${kaka}]] [[${num2}]] = [[${result}]]</label>
			<br>
			<br>
			<br>
			<br>
			<br>
			<a href="../home">시작지점으로</a>
		</th>
	</table>
</body>
</html>